<%= form_for([@post, @post.comments.build]) do |f| %>
	
	<p>
		<%= f.text_area(:body, class: 'form-control', placeholder: 'Write comment here') %>
	</p>
	<p class= 'tog'>	
			<%= f.submit({:class => 'btn btn-default'}) %>
	</p>
<% end %>